body{
    background-color: white;
}
a{
    color: brown;
}

h1{
    size: 200px;
    font-weight: 200px;
    font-size: 50px;
}

header{
    background-color: darkblue;
    border-radius: 10px;
    top: 0;
    width: 100%;
}


nav{   
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px
}
nav, a{
    text-decoration: none;
    color: #db31a3;
    padding: 1px, 20px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 500;
    transition: 0,6s ease; 
}
nav,a:hover{
    color: rgb(104, 79, 129);
}

.principale h1{
color: white;
}
#trending-movies{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 500px 500px 500px 500px;
    gap: 50px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

#search-results{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 500px 500px 500px 500px;
    gap: 50px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

#movie-details{
    margin-top: 150px;
    display: flex;
   justify-content: space-evenly;
}

#movie-details{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
}

#movie-details h1{
    margin-right: 300px;
}

#barre{
    display: flex;
    align-items: center;
    margin-left: 500px;
    padding: 14px;
    border-radius: 28px;
    width: 400px;
    height: 45px;
    background-color: #c6bfbf
    
}

input{
    font-size: 16px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

button{
   width: 200px;
   height: 40px;
   border-radius: 20px;
   font-size: 16px;
   margin-left: 600px;
}